@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(26, 11, 46, 1);
}

.font-inter {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

#hamburger-logo {
  display: none;
}

.none {
  display: none;
}

/* Shared Styles */
.primary-color {
  color: rgba(255, 255, 255, 1);
}

.secondary-color {
  color: rgba(0, 255, 136, 1);
}

.f-size {
  font-size: 1rem;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
}

.section-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  opacity: 0.8;
}

.button {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 600;
  line-height: 19px;
  text-transform: capitalize;
  padding: 0.8rem 1.3rem;
  border-radius: 10000px;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* nav related styles */
header {
  height: 760px;
  margin-bottom: 60px;
}

nav h2 {
  font-size: 2rem;
  font-weight: 800;
}

#nav-title {
  color: #fb09b4;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 200px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  opacity: 0.9;
}

.banner {
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.microphone-img {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/hero-circle.png), url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: 350px, 1600px;
  background-position:
    center,
    left -130px top 0;
}

.banner-content {
  max-width: 550px;
  margin: 0 auto;
  transform: translateY(-90px);
  text-align: center;
}

.banner-content h1 {
  font-size: 3.8rem;
  font-weight: 800;
  line-height: 73px;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.banner-content p {
  margin-bottom: 1.5rem;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

#subs-btn {
  color: rgba(0, 255, 136, 1);
  background: none;
  border: 1px solid rgba(0, 255, 136, 1);
}

/* main related styles */
main {
  max-width: 1200px;
  margin: 0 auto;
}

.podcast-heading {
  padding: 0 260px;
}

.podcast-heading h2 {
  margin-bottom: 1rem;
}

.podcast-heading p,
hr {
  margin-bottom: 80px;
}

hr {
  border: 1px solid rgba(255, 255, 255, 1);
  opacity: 0.1;
}

.podcast-card-container {
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: repeat(4, 240px);
  justify-content: center;
}

.why-techwave-container,
.episode,
.meet-the-host {
  margin-bottom: 120px;
}

.why-techwave-container > h2,
.episode > h2,
.meet-the-host > h2 {
  margin-bottom: 40px;
}

.techwave-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 250px);
  gap: 30px;
}

.techwave-info-box {
  padding: 40px;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
}

.techwave-info-box img {
  width: 50px;
  padding-bottom: 21px;
}

.techwave-info-box h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-transform: capitalize;
  padding-bottom: 16px;
}

.techwave-info-box p {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.6;
}

#big-row {
  grid-row: span 2;
}

#big-column {
  grid-column: span 2;
}

.episode-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 380px);
  gap: 30px;
  justify-content: center;
}

.episode {
  width: 100%;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 24px;
  overflow: hidden;
}

.episode-content-info {
  padding: 24px;
}

.episode-content-info h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 12px;
}

.episode-content-info p {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.6;
  margin-bottom: 12px;
}

.duration {
  display: flex;
  align-items: center;
  gap: 8px;
}

.duration img {
  width: 16px;
}

.duration > p {
  color: rgba(0, 255, 136, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding-top: 10px;
}

/* Mobile Devices */
@media screen and (max-width: 576px) {
  header {
    height: 620px;
  }

  #menu,
  nav .button {
    display: none;
  }

  #hamburger-logo {
    display: block;
  }

  nav {
    padding: 20px;
  }

  .banner-image-container {
    max-width: 100%;
  }

  .microphone-img {
    height: 440px;
    background-size: 200px, 600px;
    background-position:
      center,
      left -130px top 120px;
  }

  .microphone-img img {
    width: 80px;
  }

  .banner {
    height: 466px;
  }

  .banner-content {
    max-width: 100%;
    transform: translateY(-120px);
    padding: 0px 5px 40px 5px;
  }

  .banner-content h1 {
    font-size: 40px;
    margin-bottom: 8px;
  }

  .button {
    padding: 12.5px 20px;
  }

  .btn-group {
    flex-wrap: wrap;
  }

  .podcast-heading {
    padding: 0 20px;
  }

  .podcast-heading h2 {
    font-size: 32px;
  }

  .podcast-heading p {
    margin-bottom: 40px;
  }

  hr {
    max-width: 90%;
    margin: 0 auto 40px auto;
  }

  .podcast-card-container {
    grid-template-columns: repeat(2, 180px);
    column-gap: 20px;
    row-gap: 40px;
  }

  .why-techwave-container > h2,
  .episode > h2,
  .meet-the-host {
    font-size: 32px;
  }

  .techwave-boxes {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 20px;
  }

  #big-row {
    grid-row: span 1;
  }

  #big-column {
    grid-column: span 1;
  }

  .episode-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 20px;
  }

  .episode {
    margin: 0;
  }
}
