@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(26, 11, 46, 1);
}

.font-inter {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

#hamburger-logo {
  display: none;
}

.none {
  display: none;
}

/* Shared Styles */
.primary-color {
  color: rgba(255, 255, 255, 1);
}

.secondary-color {
  color: rgba(0, 255, 136, 1);
}

.f-size {
  font-size: 1rem;
}

.section-title {
  font-style: Bold;
  font-size: 3rem;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
}

.section-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.button {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 600;
  line-height: 19px;
  text-transform: capitalize;
  padding: 0.8rem 1.3rem;
  border-radius: 10000px;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* main related styles */
main {
  max-width: 1200px;
}

/* nav related styles */
header {
  height: 760px;
}

nav h2 {
  font-size: 2rem;
  font-weight: 800;
}

#nav-title {
  color: #fb09b4;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 200px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  opacity: 0.9;
}

.banner {
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.microphone-img {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/hero-circle.png), url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: 350px, 1600px;
  background-position:
    center,
    left -130px top 0;
}

.banner-content {
  max-width: 550px;
  margin: 0 auto;
  transform: translateY(-80px);
  text-align: center;
}

.banner-content h1 {
  font-size: 3.8rem;
  font-weight: 800;
  line-height: 73px;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.banner-content p {
  margin-bottom: 1.5rem;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

#subs-btn {
  color: rgba(0, 255, 136, 1);
  background: none;
  border: 1px solid rgba(0, 255, 136, 1);
}

/* Mobile Devices */
@media screen and (max-width: 576px) {
  #menu,
  nav .button {
    display: none;
  }

  #hamburger-logo {
    display: block;
  }

  nav {
    padding: 20px;
  }

  .banner-image-container {
    max-width: 100%;
  }

  .microphone-img {
    height: 300px;
    background-size: 200px, 600px;
    background-position:
      center,
      left -130px top 50px;
  }

  .microphone-img img {
    width: 80px;
  }

  .banner {
    height: 466px;
  }

  .banner-content {
    max-width: 100%;
    transform: translateY(-20px);
    padding: 0px 5px 40px 5px;
  }

  .banner-content h1 {
    font-size: 40px;
    margin-bottom: 8px;
  }

  .button {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 600;
    line-height: 19px;
    text-transform: capitalize;
    padding: 12.5px 20px;
    border-radius: 10000px;
    background: linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    );
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}
